
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

h1,h3,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}
/* top header starts*/
.topheader {
    height: 40px;
    width: 100%;
    background: #0e1b33;
    padding: 0;
    margin: 0;
}

.topheader ul {
    list-style: none;
    display: flex;
    color: white;
    position: absolute;
    top: 5px;
    left: 60px;
}

.topheader li  {
    padding: 7px;
    font-size: 0.8em;
    cursor: pointer;
}

.topheader #paratop {
    color: #fff;
    display: flex;
    font-size: 0.8em;
    font-weight: 500;
    padding-left: 250px;
}

.topheader #paratop p {
    padding: 1em;
}

#mail ul#links {
    padding-left: 72%;
}
/* top header ends*/

/* Header starts*/
#maimwrapper {
position: relative;
}

#logotype {
    position: absolute;
    left: 90px;
    top: 70px;
    font-size: 5px;
}

#logotext {
    position: absolute;
    left: 150px;
    top: 80px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -2px;
}

#logotext span {
    color: orange;
    border-radius: 50%;
    padding: 4px;
  
}

#mainwrapper ul {
    position: absolute;
    top: 5.7em;
    left: 35%;
    list-style: none;
    display: flex;
    font-size: 1em;
    font-weight: 500;
}

#mainwrapper ul li {
    padding: 20px;
    padding-top: 0;
}

#mainwrapper button#phonenumber {
    position: absolute;
    height: 40px;
    top: 5.8em;
    left: 25.5%;
    background: #ff8155;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 20px;
}

.more-btn  {
    position: absolute;
    height: 40px;
    top: 5.8em;
    left: 20%;
    color: #a0a0a0;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: 600;
    font-weight: 600px;
    border-radius: 20px;
} 

#getaq {
    position: absolute;
    height: 60px;
    top: 5.1em;
    left: 73%;
    background: #ff8155;
    padding: 15px 35px 15px 35px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 30px;
}
/*End header*/

/* Start showcase*/
#showcase {
    display: grid;
    grid-template-rows: 400px;
    margin-top: 110px;
}

#wrapper_showcase {
    background: url('../img/pexels-photo-1661004.jpeg') no-repeat;
    color: white;
    display: grid;
    grid-row: 1 / 2;
}

#background{
    background-image: url('../img/dotsbackground.png'), linear-gradient(to right, rgb(85, 0, 190), rgb(201, 112, 166));
    opacity: 0.9;
}

#showcase_content {
    text-align: center;
    margin: 110px;
}

#showcase_content h1 {
    padding: 20px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -3.5px;
}

#showcase_content p {
    font-size: 11px;
}

#showcase_content span {
    font-size: 14px;
    letter-spacing: 3px;
}
/*Showcase Ends*/

/*main Start*/
#showbar {
    width: 1170px;
    height: 120px;
    display: grid;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    border: 1px solid #e5ecff;
    border-radius: 60px;
    position: relative;
    
}

#showbar h5 {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
}

#showbar p {
    font-size: 12px;
    padding-top: 6px;
}

#firstdivmain h5 {
    grid-column: 1 / 2;
    position: relative;
}

#seconddivmain {
   grid-column: 2 / 3;
   position: relative;

}

#thirddivmain {
    grid-column: 3 / 4;
    position: relative;
 
}

#fourdivmain {
    grid-column: 4 / 5;
    position: relative;
}

#showbar #firstdivmain img {
    position: absolute;
    color: black;
    font-size: 100px;
    left: 35px;
    top: 42px;
}

#showbar #seconddivmain img {
    position: absolute;
    color: black;
    font-size: 100px;
    left: 15px;
    top: 9px;
}

#showbar #thirddivmain img {
    position: absolute;
    color: black;
    font-size: 100px;
    left: 15px;
    top: 9px;
}

#showbar #fourdivmain img {
    position: absolute;
    color: black;
    font-size: 100px;
    left: 15px;
    top: 9px;
}
/* end showbar */

/* start searchfiled */
#searchfield {
    margin: 50px 0px;
}

#searchfield .roundicons {
    display: flex;
}

#searchfield #hre {
    height: 50px;
    width: 50px;
    background: #eeeef7;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 7px;
}

#hre i {
    font-size: 20px;
    margin: 15px;
    color: #788892;
}

#searchfield #cubes {
    height: 50px;
    width: 50px;
    background: #ff8155;
    border-radius: 50%;
    margin-left: 1em;
    cursor: pointer;

}

#cubes i {
    font-size: 20px;
    margin: 15px;
    color: #ffffff;
}


#searchfield .roundicons ul {
    list-style: none;
    border-radius: 20px;
}

#searchfield select, option {
    height: 50px;
    width: 143px;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    outline: none;
    padding: 10px;
    color: #788892;
    margin-left: 610px;
}



#searchfield .roundicons input {
    position: relative;
    height: 50px;
    width: 270px;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    outline: none;
    color: #788892;
}

#searchfield input::placeholder {
    padding: 10px;
}

#searchfield #searchglass img {
    position: absolute;
    left: 87%;
    top: 790px;
    cursor: pointer;
}
/* end searchfiled*/

/* start showcaseboxes */ 

#showcaseboxes {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-column-gap: 65px;
    margin-top: 70px; 
}

.showboxes {
    cursor: pointer;
}

#showcaseboxes .showboxes img {
    width: 340px;
    height: 400px;
    object-fit:scale-down;
}

#showcaseboxes .showboxes img:hover  {
    box-shadow: 0 0px 0 0 #ffffff63, 0 0.5px 10px 0 rgba(179, 179, 179, 0.616);
    transform: scale(1.1);
    transition: 0.3s;
    border-radius: 10px;
}


.showboxes h5 {
    margin-top: 25px;
    font-weight: bold;
    color: #0e1b33;
}

#showcaseboxes .showboxes .showboxesstars {
    display: flex;
    margin-top: 10px;
    margin-bottom: 2em;
}

#showcaseboxes .showboxes .showboxesstars p {
    margin-right: 194px;
    margin-left: 0;
    color: #ff8155;
}

#showcaseboxes .showboxes .showboxesstars i {
    color: #ffba00;
}


#pagesboxes #pagesboxul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#pagesboxes #pagesboxul li {
    color: #c9cddd;
    background: #f8f8f8;
    margin: 5px;
    padding-top: 22px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#pagesboxes #pagesboxul #orangedoot {
    background: #ff8155;
    color: #fff;
}

/* End showcaseboxes

/* start footer */
footer {
    height: 609px;
    background: #111a29;
    background-image: url('../img/dotsfooter.png');
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#firstdivfooter {
    padding-right: 100px;
    grid-column: 2;
    grid-row: 2;
    color: #69717e;
}

#firstdivfooter span {
    color: #ff8155;
}

#firstdivfooter h3 {
    color: #fff;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 50px;
}

#firstdivfooter ul {
    display: flex;
    list-style: none;
    padding: 25px 0;
    margin-left: 20px;
}

#firstdivfooter li {
    margin-right: 7px;
    padding: 15px;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    color: #30353d;
}

#firstdivfooter #twitter {
    background: #ff8155;
    color: #fff;
}

#firstdivfooter #copyright {
    margin-top: 100px;
}

#seconddivfooter {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    padding-top: 90px;

}

#seconddivfooter span {
    color: #ff8155;
}


#seconddivfooter h3 {
    color: #fff;
    padding: 7px;
    margin-bottom: 10px;
}

#seconddivfooter ul {
    list-style: none;
    
}

#seconddivfooter #secondulfooter {
    padding-top: 50px;
}

#seconddivfooter li {
    color: #69717e;
    list-style: none;
    padding: 5px 10px 10px 10px;
}

#thirddivfooter {
    grid-column: 4;
    grid-row: 1 / 3;
    padding-top: 90px;
    padding-left: 40px;

}

#thirddivfooter span {
    color: #ff8155;
}


#thirddivfooter h3 {
    color: #fff;
    padding: 7px;
}

#thirddivfooter .contentthrid {
    display: flex;
    color: #fff;
    padding: 10px;
}

#thirddivfooter .contentthrid img {
    height: 70px;
    width: 80px;
}

.textincontentthird h5, p {
    margin-left: 20px;
    padding-bottom: 10px;
}

.textincontentthird h5 {
    font-size: 1em;
    font-weight: 600;
}

.textincontentthird p {
    font-size: 14px;
    color: #7f8897;
}

#thirddivfooter button {
    height: 50px;
    width: 185px;
    border-radius: 25px;
    background: #15ee90;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 80px;
    float: right;
}