<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--Script filer-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="controller/controllers.js"></script>
    <script src="model/products.js"></script>
    <!--Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body data-ng-app="sortApp" data-ng-controller="sortController">
    <a name="top"></a>
    <!--Start Header-->
    <header>
        <!--Top header-->
        <div class="topheader">
            <ul>
                <li id="facebookicon"><i class="fab fa-facebook-f"></i></li>
                <li id="twittericon"><i class="fab fa-twitter"></i></li>
                <li>Be</li>
                <li id="powericon"><i class="fab fa-superpowers"></i></li>
                <li id="youtubeicon"><i class="fab fa-youtube"></i></li>
            </ul>
            <div id="paratop">
                <p>FAQ</p>
                <p>TERMS</p>
            </div>
            <div id="mail">
                <ul id="links">
                    <li class="mail"><i class="far fa-envelope"></i></li>
                    <li class="mail">vskvarnstrom@gmail.com</li>
                </ul>
            </div>
        </div>
        <!--Top header-->

        <!--Header main wrapper-->
        <div id="mainwrapper">
            <div>
                <nav>
                    <img id="logotype" src="img/logo.jpg">
                    <h3 id="logotext">Pohat<span>.</span></h3>
                    <a href="#" class="more-btn">EN</a>
                    <button id="phonenumber">+90878 87 878 7</button>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Service</li>
                        <li>Pages</li>
                        <li>News</li>
                        <li>Contact</li>
                    </ul>
                    <button id="getaq">GET A QUOTE</button>
                </nav>
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Start Showcase-->
    <section id="showcase">
        <div id="wrapper_showcase">
            <div id="background">
                <div id="showcase_content">
                    <p> <span>DIGITAL MARKETING</span></p>
                    <h1>Product Store</h1>
                    <p>Home | Shop</p>
                </div>
            </div>
        </div>
    </section>
    <!--End showcase-->

    <!--Main starts-->
    <main class="container">

        <!--Showbar starts-->
        <div id="showbar">
            <div id="firstdivmain">
                <h5>Free Shipping</h5>
                <p>Orders over $100</p>
                <img src="img/truckerjpg.jpg">
            </div>
            <div id="seconddivmain">
                <h5>Free Return</h5>
                <p>in 30 Days</p>
                <img src="img/freereturn.jpg">
            </div>
            <div id="thirddivmain">
                <h5>100% Secure</h5>
                <p>Shipping</p>
                <img src="img/hundred.jpg">
            </div>
            <div id="fourdivmain">
                <h5>Best Price</h5>
                <p>Garanted</p>
                <img src="img/bestprice.jpg">
            </div>
        </div>
        <!--End showbar-->

        <!-- Start Searchiled-->
        <section id="searchfield">
            <div>
                <div class="roundicons">
                    <div id="hre"><i class="fas fa-th"></i><a href="#!list.view"></a></div>
                    <div id="cubes"><i class="fas fa-bars"><a href="#/!"></a></i></div>
                    <div id="rowlimits">
                        <select ng-model="rowLimits">
                            <option value="6">6</option>
                            <option value="9">9</option>
                            <option value="12">12</option>
                            <option value="18">18</option>
                        </select>
                    </div>
                    <select data-ng-model="sortColumn">
                        <option selected value="sortyby">Sort by</option>
                        <option value="price">Pris</option>
                        <option value="productname">Product</option>
                    </select>
                    <ul id="searchglass">
                        <li>
                            <input type="text" placeholder="Search from here...." ng-model="searchText">
                            <img src="img/search.jpg">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End searchfield-->

        <!--Start showcaseboxes-->
        <div data-ng-view></div>
        <div id="pagesboxes">
            <ul id="pagesboxul">
                <li><i class="fas fa-arrow-left"></i></li>
                <li>01</li>
                <li id="orangedoot">02</li>
                <li><i class="fas fa-ellipsis-h"></i></li>
                <li>04</li>
                <li><i class="fas fa-arrow-right"></i></li>
            </ul>
        </div>
        <!--End Showcaseboxes-->

    </main>
    <!--end main-->

    <!--Start footer-->
    <footer>
        <div id="firstdivfooter">
            <h3>Pohat<span>.</span></h3>
            <p>voluptate repellendus, quos, error quibusdam voluptas minus culpa illo! Atque, magni voluptatibus,
                aspernatur voluptas eum unde reiciendis quidem nihil sequi quia alias omnis labore totam ex
                necessitatibus porro, repellat quas quibusdam qui quam vitae.
            </p>
            <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li id="twitter"><i class="fab fa-twitter"></i></li>
                <li><i><img src="img/Be.jpg"></i></li>
                <li><i class="fab fa-youtube"></i></li>
                <li><i><img src="img/pinterest.jpg"></i></li>
            </ul>
            <p id="copyright">Copyright By@<span>NilArtStudio-</span>2019</p>
        </div>
        <div id="seconddivfooter">
            <ul>
                <h3>More links<span>.</span></h3>
                <li>Paid Seo</li>
                <li>Digital MARKETING</li>
                <li>Startigy planing</li>
                <li>Offline SEO</li>
                <li>Page Rank Up</li>
                <li>User Panel</li>
            </ul>
            <ul id="secondulfooter">
                <li>Services</li>
                <li>Our team</li>
                <li>News</li>
                <li>Shop</li>
                <li>Contact us</li>
                <li>Book Appoinment</li>
            </ul>
        </div>
        <div id="thirddivfooter">
            <h3>News Feeds<span>.</span></h3>
            <div>
                <div class="contentthrid">
                    <img src="img/photofooter.jpeg">
                    <div class="textincontentthird">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                        <p>27 juli 2019</p>
                    </div>
                </div>
                <div class="contentthrid">
                    <img src="img/photofooter.jpeg">
                    <div class="textincontentthird">
                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
                        <p>27 juli 2019</p>
                    </div>
                </div>
                <div class="contentthrid">
                    <img src="img/photofooter.jpeg">
                    <div class="textincontentthird">
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
                        <p>27 juli 2019</p>
                    </div>
                </div>
            </div>
            <button><a href="#top">Back to top</a></button>
        </div>
    </footer>
    <!--End footer-->

</body>

</html>